@import url('https://fonts.cdnfonts.com/css/playfair-display');
@import url('https://fonts.cdnfonts.com/css/inter');
*{
    padding: 0;
    margin: 0;
}
.stn-1{
    background-image: url("images/Mask\ group.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.stn-1>p{
    font-family: 'Playfair Display', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    margin: 2rem;

}
.stn-1>small{
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: center;
    color: #EDEDED;
    padding: auto;
    margin: 2rem;
                                            
}
.btn-container{
    display: flex;
}
.stn1-top-meals{
    display: inline-block;
    width: 100%;
    margin: 0 11rem;
}
.stn1-top-meals img{
    margin:0 5rem 0 0;
}
.stn1-top-meals img:nth-child(2){
    padding-top: 4rem;
}
.stn1-mid-meals{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
.stn1-mid-meals img{
    height: 25%;
}
.stn1-mid-text{
    display: flex;
    text-align: center;
    margin:0 4rem;
    padding:0 17rem;
    gap: 2rem;
}